@{
    ViewData["Title"] = "Sobre";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>

<p>Desenvolvido por: @ViewData["dev"]</p>

<h3>Contate-me: </h3>

<address>
    <strong>Email: </strong><a>@ViewData["email"]</a>
</address>
<address>
    <a href="@ViewData["github"]" >GitHub</a>
</address>
<address>
    <a href="@ViewData["linkedin"]">Linkedin</a>
</address>





